.text_min{
    font-size: 36px;
    color: white;
  }

  .text_min2{
    font-size: 36px;
    color: red;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px)  {
    .text_min{
      font-size: 26px;
      color: white;
    }
  
    .text_min2{
      font-size: 26px;
      color: red;
    }
  }
  
  @media screen and (max-width: 767px){
    .text_min{
      font-size: 16px;
      color: white;
    }
  
    .text_min2{
      font-size: 16px;
      color: red;
    }
  }
  